<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/static/bootstrap-5.1.3/css/bootstrap.min.css'|url }}">
    <link rel="stylesheet" href="{{ '/static/style.css'|url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Wilkommen{% endblock %} — Winterbacher Gästezimmer</title>
  </head>
  <body>
    {% block body %}{% endblock %}
    <footer title="Lezte aktualisierung: {{ datetime.now(tz=ZoneInfo('Europe/Berlin')) | datetimeformat('full') }}">
      &copy; {{ date.today().year }} Winterbacher Gästezimmer
    </footer>
    <script src="{{ '/static/bootstrap-5.1.3/js/bootstrap.bundle.min.js'|url }}"></script>
    <script>
      // allow styling of each first letter of headlines
      window.onload = function(){
        var elements = document.querySelectorAll("h1,h2,h3,h4")
        for (var i=0; i<elements.length; i++) {
          // don't handle headlines that already are broken down
          if (elements[i].querySelectorAll('*').length) {
            continue
          }
          elements[i].innerHTML = elements[i].innerHTML.replace(/([^\s]+)/uigm, "<span>$1</span>")
        }
      }      
    </script>
  </body>
</html>